@font-face {
    font-family: font-1;
    src: url(./AnekTamil_wdth_wght__1-english.woff2);
}
@font-face {
    font-family: font-2;
    src: url(./Geist-VariableFont_wght_1-english.woff2);
}
@font-face {
    font-family: font-3;
    src: url(./GeistMono-VariableFont_wght_1-english.woff2);
}
@font-face {
    font-family: font-4;
    src: url(./InstrumentSans_wdth_wght__1-english.woff2);
}
@font-face {
    font-family: font-5;
    src: url(./Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
@mixin button{
        padding: 0.8rem 5.15rem;
        width: fit-content;
        border-radius: 7px;
        box-shadow: 4px 4px 2px 0px #000000;
        font-family: "font-3", sans-serif;
        font-size: 1rem;
        cursor: pointer;
}
@mixin button-hover{
        color: white;
        box-shadow: -4px -4px 4px 0px #000000;
        transition: all 0.3s ease-in-out;
}
.main-container {
    height: 100%;
    width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 15.8% 33.2% 30% 90% 18% 19.5% 11% 33% 10% 13.5% 13.5% 13.5% 17% 62% 50% 1fr;
  grid-template-areas:
    "header"
    "heading"
    "image"
    "text"
    "image2"
    "first"
    "second"
    "heading2"
    "image3"
    "sm-line1"
    "sm-line2"
    "sm-line3"
    "sm-line4"
    "sm-line5"
    "big-spot"
    "footer-logo"
    "footer";

  header {
    display: flex;
    grid-area: header;
    background-color: #E9ECFF;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        .nav-left{
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 1.3rem;
            font-weight: 700;
            font-family: font-1;
            margin-left: 20px;

        svg{
            height: 27px;
            width: auto;
        }
    }
    .nav-right{
        display:none;
     }
    }
  }

  .heading {
    display: flex;
    align-items: center;
    grid-area: heading;
    border-bottom: 1px solid black;
    
    .text-section{
        margin-left: 18px;
        width: 80%;

    }

    span{
        font-family: "font-1", sans-serif;
        font-size: 2.2rem;
        font-weight: 900;
        line-height: 0.9;
    }
    #font-color{
        color: #808CFD;
    }
  }
  .image {
    grid-area: image;
    background-image: url(./fa185f92457c01f4c2ab992f16dab02624634ed7.avif);
    background-position: center;
    background-size: cover;
  }
  .text {
    grid-area: text;
    background-color: #E9ECFF;
    display: flex;
    flex-direction: column;

    h2{
        font-family: "font-1", sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
        margin-left: 18px;
        margin-top: 15px;
    }
    p{
        font-family: "font-5", sans-serif;
        font-size: 0.9rem;
        font-weight: 400;
        margin-left: 18px;
        width: 90%;
        line-height: 1.4;
    }
    .btn{
        padding: 10px 20px;
        width: fit-content;
        margin-left: 1.2rem;
        margin-top: 1rem;
        background-color: transparent;
        border-radius: 7px;
        box-shadow: 4px 4px 2px 0px #000000;
        font-family: "font-3", sans-serif;
        font-size: 1rem;
    }
    .btn:hover{
        background-color: #808CFD;
        color: white;
        cursor: pointer;
        box-shadow: -4px -4px 4px 0px #000000;
        transition: all 0.3s ease-in-out;
    }
  }
}


.main-container{
    .image2 {
        grid-area: image2;
        background-image: url(./4b3ae65ece4bb9cc6a2f518907d80df4631625fe.avif);
        background-position: center;
        background-size: cover;
    }

    .first {
        grid-area: first;
        background-color: #D9E1FF;
        border-bottom: 1px solid black;

        h2{
            margin-top: 6px;
        }
        p{
            font-size: 0.9rem;
            line-height: 1.3;
            width: 80%;
        }
    }
    .second{
        grid-area: second;
        background-color: #D9E1FF;
        border-bottom: 1px solid black;

        h2{
            margin-top: 6px;
        }
        p{
            font-size: 0.9rem;
            line-height: 1.3;
            width: 80%;
        }
    }

    .heading2{
        grid-area: heading2;
    }

    .image3{
        grid-area: image3;
        background-image: url(./c695b3171f8fc21be9574c7eeb04e5365a7dd496.avif);
        background-position: center;
        background-size: cover;
    }

    .sm-line1{
        grid-area: sm-line1;
        border-bottom: 1px solid black;
    }
    .sm-line2{
        grid-area: sm-line2;
        border-bottom: 1px solid black;

        h2{
            font-size: 1.3rem;
        }
    }
    .sm-line3{
        grid-area: sm-line3;
        border-bottom: 1px solid black;

         h2{
            font-size: 1.3rem;
        }
    }
    .sm-line4{
        grid-area: sm-line4;
        border-bottom: 1px solid black;

         h2{
            font-size: 1.3rem;
        }
    }
    .sm-line5{
        grid-area: sm-line5;
        background-color: #E9ECFF;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn2{
            padding: 2.5vh 15.15vw;
            width: fit-content;
            background-color: transparent;
            border-radius: 7px;
            box-shadow: 4px 4px 2px 0px #000000;
            font-family: "font-3", sans-serif;
            font-size: 1rem;
            cursor: pointer;
        }
        .btn2:hover{
            background-color: #808CFD;
            color: white;
            box-shadow: -4px -4px 4px 0px #000000;
            transition: all 0.3s ease-in-out;
        }
    }

    .big-spot{
        grid-area: big-spot;
        background-color: #808CFD;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;

        p{
            font-family: "font-5", sans-serif;
            font-size: 1rem;
            color: black;
            width: 60%;
            text-align: center;
            margin-bottom: 0.8rem;
        }
        h2{
            font-family: "font-1", sans-serif;
            font-size: 2.65rem;
            font-weight: 700;
            color: black;
            margin-bottom: 10px;
            text-align: center
        }
        .btn3{
            @include button;
            background-color: white;
            color: black;
        }
        .btn3:hover{
            @include button-hover;
            background-color: black;
            box-shadow: none;
        }
    }

    .footer-logo{
        grid-area: footer-logo;
        background-color: #E9ECFF;

        svg{
            height: 40%;
            width: auto;
            margin-top: 8%;
            margin-left: 1.3rem;
            margin-bottom: 1.6rem;
        }
        h1{
            font-family: "font-1", sans-serif;
            font-size: 9vw;
            font-weight: 700;
            margin-left: 1.2rem;
            margin-top: 0.5rem;
        }
    }

    footer{
        grid-area: footer;
        background-color: #E9ECFF;

        .contact{
            margin-top: 3rem;
            margin-left: 1.3rem;

            h3{
                font-family: "font-1", sans-serif;
                font-size: 1.45rem;
                font-weight: 800;
                margin-bottom: 0.5rem;
            }
            p{
                font-family: "font-5", sans-serif;
                font-size: 0.9rem;
                font-weight: 700;
                line-height: 1.4;
            }
        }
        .timing{
            margin-left: 1.3rem;
            margin-top: 2.5rem;

            h3{
                font-family: "font-1", sans-serif;
                font-size: 1.45rem;
                font-weight: 800;
                margin-bottom: 0.5rem;
            }
            p{
                font-family: "font-2", sans-serif;
                font-size: 0.9rem;
                font-weight: 700;
                line-height: 1.4;
            }

            .timing-hours{
                display: flex;
                gap: 3.5rem;
            }
        }
        .social{
            margin-left: 1.3rem;
            margin-top: 2.5rem;
            margin-bottom: 3rem;
            display: flex;
            flex-direction: column;

            h3{
                font-family: "font-1", sans-serif;
                font-size: 1.45rem;
                font-weight: 800;
                margin-bottom: 0.5rem;
            }
            a{
                color: black;
                font-family: "font-4", sans-serif;
                font-size: 0.9rem;
                font-weight: 800;
                line-height: 1.4;
            }
        }
    }
}